*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-weight: bold;
	font-family: cursive;
  margin-bottom: 50px;
  margin-top: 20px;
}

.content{
  width: 100%;
}

.head1, .head2, .head3{
  border: 1px solid black;
  float: right;
  width: 170px;
  height: 40px;
  padding: 5px;
  position: relative;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  margin-right: 35px;
}

.head1{
  background-color: #FFB6C1;
}

.head2{
  background-color: #CB4154;
  color: white;
}

.head3{
  background-color: #FFFF33;
}

.para{
  background-color: grey;
  border: 1px solid black;
  width: 90%;
  height: auto;
  color: black;
  padding: 2%;
  padding-top: 40px;
  margin: 2.5%;
  font-size: 20px;
}

@media (min-width: 992px){
  .col-lg-4{
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .col-md-6{
    float: left;
    width: 50%;
  }

  .col-md-12{
    float: left;
    width: 100%;
    margin-top: 10px;
  }

  .head3{
    margin-right: 65px;
    width: 100px;
  }
}

@media (max-width: 767px){
  .col-sm-12{
    float: left;
    width: 100%;
    margin-top: 10px;
  }

  .head1, .head2, .head3{
    margin-right: 30px;
  }
}
